<article class="content" id="company">
    <div class="features-list-wrapper">
        <div class="feature-list">
            <div class="feature">
                <div class="feature-header">
                    <i class="feature-icon feature-icon-design"></i> @Text.Features_DesignHeader
                </div>

                <ul class="feature-benefits">
                    <li>@Text.Features_DesignBenefit1</li>
                    <li>@Text.Features_DesignBenefit2</li>
                    <li>@Text.Features_DesignBenefit3</li>
                    <li>@Text.Features_DesignBenefit4</li>
                </ul>
            </div>

            <div class="feature">
                <div class="feature-header">
                    <i class="feature-icon feature-icon-development"></i> @Text.Features_DevelopmentHeader
                </div>

                <ul class="feature-benefits">
                    <li>@Text.Features_DevelopmentBenefit1</li>
                    <li>@Text.Features_DevelopmentBenefit2</li>
                    <li>@Text.Features_DevelopmentBenefit3</li>
                    <li>@Text.Features_DevelopmentBenefit4</li>
                </ul>
            </div>

            <div class="feature">
                <div class="feature-header">
                    <i class="feature-icon feature-icon-qa"></i> @Text.Features_QAHeader
                </div>

                <ul class="feature-benefits">
                    <li>@Text.Features_QABenefit1</li>
                    <li>@Text.Features_QABenefit2</li>
                    <li>@Text.Features_QABenefit3</li>
                    <li>@Text.Features_QABenefit4</li>
                </ul>
            </div>
        </div>
    </div>
</article>
