<article class="content" id="team">
    <h2><span>@Text.Team_Header</span></h2>

    <div class="team-wrapper">
        <div class="team">
            <div class="team-member">
                <div class="team-member-image team-member-image-1"></div>
                <h4 class="team-member-name">@Text.Team_Member1Name</h4>
                <p class="team-member-position">@Text.Team_Member1Position</p>
                <div class="team-member-description">@Html.Raw(Text.Team_Member1Description)</div>
            </div>

            <div class="team-member">
                <div class="team-member-image team-member-image-2"></div>
                <h4 class="team-member-name">@Text.Team_Member2Name</h4>
                <p class="team-member-position">@Text.Team_Member2Position</p>
                <div class="team-member-description">@Html.Raw(Text.Team_Member2Description)</div>
            </div>

            <div class="team-member">
                <div class="team-member-image team-member-image-3"></div>
                <h4 class="team-member-name">@Text.Team_Member3Name</h4>
                <p class="team-member-position">@Text.Team_Member3Position</p>
                <div class="team-member-description">@Html.Raw(Text.Team_Member3Description)</div>
            </div>
        </div>
    </div>
</article>
